<!DOCTYPE html>
 <link rel="stylesheet" href="css/videoLogin.css"/>
       <title>TAREA - Login</title>
    </head>
    <body>
         <section class="content">
        <video autoplay loop muted  >
                
                <source src="videos/production ID_4088836.mp4"> 
            </video>
        <div class="login-box">
            <img class="avatar" src="images/iconos_negros/3293822.png" alt="">
            <h1>Login Here</h1>
            <form>
                <!-- Username -->
                <Label for="username">Username</Label>
                <input type="text" placeholder="Enter Username">
                <!-- Password -->
                <Label for="password">Password</Label>
                <input type="password" placeholder="Enter Password">
                
                <input type="submit" value="Log In">
                <a href="#">Lost your password, </a><br>
                 <a href="register.html">   Don't have an account</a>
                 
                
            </form>
        </div>
       </section>
    </body>
</html>
